.main-div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  // border: 1px solid #ccc;
  // background-color: #f3f3f3;
  mat-card {
    padding: 0;
  }
  .login-form {
    padding: 20px;
  }
}
