@import "/src/environments/mixins";

.Products3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  border: none;
}
.main-div {
  margin-top: 15rem;
  @include max(546px) {
    width: 240px;
  }
}
